API = /api
PORT = 3000
MONGODB_URL = mongodb://127.0.0.1:27017
DB_NAME = meanAnimesDB
SIGINT_MESSAGE = Mongoose disconnected by app disconnect
SIGTERM_MESSAGE = Mongoose disconnected by app termination
SIGUSR2_MESSAGE = Mongoose disconnected by app restart