<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MeanAnimes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToAnimesPageHandler()">Animes</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>

        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="/login">Login</a>
          <a *ngIf="isLoggedIn()" class="nav-link pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" name="search" [(ngModel)]="search" #searchValidator="ngModel"
          required placeholder="Enter an anime title">
        <button [disabled]="searchValidator.invalid" (click)="searchHandler()" class="btn btn-secondary my-2 my-sm-0"
          type="button">Search</button>
      </form>
    </div>
  </div>
</nav>